In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import gmaps

from datetime import datetime as dt
import time

In [20]:
accident=pd.read_csv("CA_Accidents_Dec19.csv")
accident

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,728,A-729,MapQuest,201.0,3,2016-06-21 10:34:40,2016-06-21 11:04:40,38.085300,-122.233017,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,729,A-730,MapQuest,201.0,3,2016-06-21 10:30:16,2016-06-21 11:16:39,37.631813,-122.084167,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,730,A-731,MapQuest,201.0,2,2016-06-21 10:49:14,2016-06-21 11:19:14,37.896564,-122.070717,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
3,731,A-732,MapQuest,201.0,3,2016-06-21 10:41:42,2016-06-21 11:11:42,37.334255,-122.032471,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
4,732,A-733,MapQuest,201.0,2,2016-06-21 10:16:26,2016-06-21 11:04:16,37.250729,-121.910713,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663199,2974330,A-2974354,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,...,False,False,False,False,False,False,Day,Day,Day,Day
663200,2974331,A-2974355,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,...,False,False,False,False,False,False,Day,Day,Day,Day
663201,2974332,A-2974356,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,...,False,False,False,False,False,False,Day,Day,Day,Day
663202,2974333,A-2974357,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,...,False,False,False,False,False,False,Day,Day,Day,Day
663203,2974334,A-2974358,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,...,False,False,False,False,False,False,Day,Day,Day,Day

In [21]:
accident.columns

Index(['Unnamed: 0', 'ID', 'Source', 'TMC', 'Severity', 'Start_Time',
       'End_Time', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng',
       'Distance(mi)', 'Description', 'Number', 'Street', 'Side', 'City',
       'County', 'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code',
       'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [22]:
time_accident_df = accident[["ID","Severity", "Start_Time", "Start_Lat", "Start_Lng", "Street",
                           "City", "County", "State", "Zipcode", "Temperature(F)", 
                           "Weather_Condition"]]
time_accident_df

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Street,City,County,State,Zipcode,Temperature(F),Weather_Condition
0,A-729,3,2016-06-21 10:34:40,38.085300,-122.233017,Magazine St,Vallejo,Solano,CA,94591,75.0,Clear
1,A-730,3,2016-06-21 10:30:16,37.631813,-122.084167,I-880 N,Hayward,Alameda,CA,94544,75.0,Clear
2,A-731,2,2016-06-21 10:49:14,37.896564,-122.070717,I-680 N,Walnut Creek,Contra Costa,CA,94595,82.9,Clear
3,A-732,3,2016-06-21 10:41:42,37.334255,-122.032471,N De Anza Blvd,Cupertino,Santa Clara,CA,95014,75.9,Clear
4,A-733,2,2016-06-21 10:16:26,37.250729,-121.910713,Norman Y Mineta Hwy,San Jose,Santa Clara,CA,95118,75.2,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...
663199,A-2974354,2,2019-08-23 18:03:25,34.002480,-117.379360,Pomona Fwy E,Riverside,Riverside,CA,92501,86.0,Fair
663200,A-2974355,2,2019-08-23 19:11:30,32.766960,-117.148060,I-8 W,San Diego,San Diego,CA,92108,70.0,Fair
663201,A-2974356,2,2019-08-23 19:00:21,33.775450,-117.847790,Garden Grove Fwy,Orange,Orange,CA,92866,73.0,Partly Cloudy
663202,A-2974357,2,2019-08-23 19:00:21,33.992460,-118.403020,San Diego Fwy S,Culver City,Los Angeles,CA,90230,71.0,Fair
663203,A-2974358,2,2019-08-23 18:52:06,34.133930,-117.230920,CA-210 W,Highland,San Bernardino,CA,92346,79.0,Fair

In [23]:
time_accident_df['Start_Time']

0         2016-06-21 10:34:40
1         2016-06-21 10:30:16
2         2016-06-21 10:49:14
3         2016-06-21 10:41:42
4         2016-06-21 10:16:26
                 ...
663199    2019-08-23 18:03:25
663200    2019-08-23 19:11:30
663201    2019-08-23 19:00:21
663202    2019-08-23 19:00:21
663203    2019-08-23 18:52:06
Name: Start_Time, Length: 663204, dtype: object

In [24]:
time_accident_df['hour'] = time_accident_df['Start_Time'].period.strfttime()
dt.strftime('%H')

AttributeError: Can only use .dt accessor with datetimelike values

In [5]:
accident["Severity"].value_counts()

2    1993410
3     887620
4      92337
1        968
Name: Severity, dtype: int64

In [6]:
accident["ID"].value_counts()

A-358060     1
A-1807276    1
A-373009     1
A-100413     1
A-773904     1
            ..
A-2492528    1
A-1395382    1
A-1263234    1
A-832471     1
A-434898     1
Name: ID, Length: 2974335, dtype: int64