In [2]:
import numpy as np
import scipy.stats as st
import pandas as pd

In [3]:
cal = pd.read_csv("cal.csv")

In [39]:
cal.head()

,Unnamed: 0,Severity,Start_Time,Start_Lat,Start_Lng,Street,City,County,State,Zipcode,Temperature(F),Weather_Condition
0,728,3,2016-06-21 10:34:40,38.085300,-122.233017,Magazine St,Vallejo,Solano,CA,94591,75.0,Clear
1,729,3,2016-06-21 10:30:16,37.631813,-122.084167,I-880 N,Hayward,Alameda,CA,94544,75.0,Clear
2,730,2,2016-06-21 10:49:14,37.896564,-122.070717,I-680 N,Walnut Creek,Contra Costa,CA,94595,82.9,Clear
3,731,3,2016-06-21 10:41:42,37.334255,-122.032471,N De Anza Blvd,Cupertino,Santa Clara,CA,95014,75.9,Clear
4,732,2,2016-06-21 10:16:26,37.250729,-121.910713,Norman Y Mineta Hwy,San Jose,Santa Clara,CA,95118,75.2,Clear

## Most "Dangerous" Road

In [34]:
street_severity = cal.groupby('Street').mean()['Severity']

In [41]:
street_count = cal.groupby('Street').count()['Start_Time']

In [53]:
combined_df = pd.concat([street_severity, street_count], axis=1).reset_index()
combined_df = combined_df.rename(columns={'Start_Time': 'Count'})

In [73]:
combined_df.head()

        Street  Severity  Count
0      1/2 Ave  2.000000      3
1     10th Ave  3.000000      2
2      10th St  2.142857     14
3    10th St W  2.000000      2
4   110th St E  2.000000      2

In [57]:
#Filter by roads that have at more than 1000 accidents, sort values by descending severity
final_df = combined_df[combined_df['Count'] > 1000].sort_values('Severity', ascending=False)
final_df.head()

                        Street  Severity  Count
18945            Ontario Fwy S  2.764071   1297
16023         Long Beach Fwy S  2.732443   2321
22133  San Gabriel River Fwy N  2.721369   3449
14510                  I-105 W  2.720963   2161
13780             Harbor Fwy N  2.712418   3519

In [70]:
#put most dangerous street and stats in dataframe
most_dangerous = pd.DataFrame({
    'Road': final_df.Street.array[0],
    'Average Severity': final_df.Severity.array[0],
    'Total Number of Accidents': final_df.Count.array[0]
}, index=[0])
most_dangerous

            Road  Average Severity  Total Number of Accidents
0  Ontario Fwy S          2.764071                       1297

## Most "Dangerous" County

In [87]:
county_severity = cal.groupby('County').mean()['Severity']

In [88]:
county_count = cal.groupby('County').count()['Start_Time']

In [93]:
county = pd.concat([county_severity, county_count], axis=1).reset_index()
county = county.rename(columns={'Start_Time': 'Count'})
county.sort_values('Count', ascending=False)

             County  Severity   Count
18      Los Angeles  2.405229  227180
0           Alameda  2.537417   45367
29           Orange  2.337751   42327
36        San Diego  2.438069   41829
33       Sacramento  2.197486   35795
35   San Bernardino  2.421631   35754
42      Santa Clara  2.234698   34521
32        Riverside  2.324208   32911
6      Contra Costa  2.341082   23059
40        San Mateo  2.202226   15003
38      San Joaquin  2.288691   11708
48           Sonoma  2.041765   10128
47           Solano  2.552532   10032
37    San Francisco  2.410163    8265
55          Ventura  2.044151    7497
9            Fresno  2.079451    6998
14             Kern  2.131486    6784
20            Marin  2.093988    5788
30           Placer  2.363893    5672
26         Monterey  2.034439    5459
49       Stanislaus  2.084397    5249
43       Santa Cruz  2.050627    4622
41    Santa Barbara  2.039464    4105
56             Yolo  2.450477    3776
53           Tulare  2.044031    3066
8         El Dorado  2.047855    3030
27             Napa  2.071051    3026
23           Merced  2.094668    2588
39  San Luis Obispo  2.048695    2567
28           Nevada  2.226113    1999
19           Madera  2.053925    1669
3             Butte  2.071479    1413
22        Mendocino  2.034665    1327
44           Shasta  2.271704    1244
34       San Benito  2.051960    1097
11         Humboldt  2.037229     967
16             Lake  2.025052     958
4         Calaveras  2.053937     927
57             Yuba  2.043578     872
15            Kings  2.151796     863
54         Tuolumne  2.062802     828
2            Amador  2.060686     758
50           Sutter  2.082237     608
51           Tehama  2.269565     575
5            Colusa  2.269333     375
10            Glenn  2.272727     330
25             Mono  2.123457     324
46         Siskiyou  2.211838     321
21         Mariposa  2.071429     280
31           Plumas  2.048387     248
52          Trinity  2.089431     246
17           Lassen  2.100418     239
7         Del Norte  2.078125     192
13             Inyo  2.087719     171
45           Sierra  2.117647      85
12         Imperial  2.317460      63
1            Alpine  2.250000      60
24            Modoc  2.152542      59

In [90]:
county_final = county[county['Count'] > 1000].sort_values('Severity', ascending=False)
county_final.head()

            County  Severity  Count
47          Solano  2.552532  10032
0          Alameda  2.537417  45367
56            Yolo  2.450477   3776
36       San Diego  2.438069  41829
35  San Bernardino  2.421631  35754

In [92]:
dangerous_county = pd.DataFrame({
    'County': county_final.County.array[0],
    'Average Severity': county_final.Severity.array[0],
    'Total Number of Accidents': county_final.Count.array[0]
}, index=[0])
dangerous_county

   County  Average Severity  Total Number of Accidents
0  Solano          2.552532                      10032